body {
  font-family: 'Libre Baskerville', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  }


.header {
  background-image: url("/Users/laurentyson/Development/Elizabeth_code/elizabeth-bell-books/src/images/header-image.jpeg");
  height: 600px;
}

.headerName {
  font-family: 'Amarante', cursive;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: 6rem;
  color: #C6AB64;
  margin-bottom: .5rem;
  margin-top: 2rem;
}

.headerText {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.headerButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
  column-gap: 20rem;
}

.goldButtons {
  background-color: #C6AB64;
  border: none;
  color: black;
  padding: 17px 30px;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.navBar {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  display: inline-bock; 
  margin: 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: #4B4A4A;
  transition: 0.1s;
  
}

nav a:hover {  
  border-bottom: 2px solid #737373;;  
}

.authorNote {
  display: flex;
  justify-content: center;
  margin: 10rem;
  column-gap: 2rem;
}

.authorNoteImg {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  padding: 5px;
  width: 350px;
}
.authorNoteChild-2 {
  font-size: 1.1rem;
  line-height: 2;
}

.signature {
  font-family: 'Allura', cursive;
  font-size: 3rem;
  margin: 1rem
}


@media screen and (max-width: 768px) {
  .headerButtons {    
    margin-top: 3rem;
    column-gap: 15rem;
  }
}

@media screen and (max-width: 576px) {
  .headerName {    
    font-size: 4rem;    
  }
  
  .headerText {
    font-size: 1.13rem;
  }

  .headerButtons {    
    margin-top: 3rem;
  }
}

@media screen and (max-width: 393px) {
  .headerName {    
    font-size: 3.5rem;    
  }
  
  .headerText {
    font-size: 1.05rem;
  }

  .headerButtons {    
    margin-top: 3rem;
  }
  .goldButtons {   
    font-size: 1rem;
    margin: 6px 2px;    
  }
}
